<!-- edit.html -->

{% extends 'base.html' %}

{% block title %}
    게시글 수정하기
{% endblock %}

{% block content %}
    <div class="container timeline-container">
        <div class="row">
            <!-- 왼쪽 컬럼 -->
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ user.username }}</h5>
                        <p class="card-text"> {{ user.bio }}</p>
                    </div>
                </div>
            </div>
            <!-- 오른 쪽 컬럼-->
            <div class="col-md-7">
                <!-- 글을 작성 하는 곳 -->
                <div class="row mb-2">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="media">
                                    <div class="media-body">
{#                                        업데이트 하려면 업데이트 하는 곳으로 요청을 보내야 하는데, 글쓰기 페이지로 요청을 보내서 안됬던것.#}
                                        <form method="post">
                                            {% csrf_token %} {# form 은 항상 암호화 걸어서 보내주기 #}
                                            {% if error %}
                                                <div class="alert alert-danger" role="alert">
                                                    {{ error }}
                                                </div>
                                            {% endif %}
                                            <div class="form-group mb-2">
                                                <div class="mt-3 row">
                                                    <label for="tag"
                                                           class="col-sm-2 col-form-label">영화 제목</label>
                                                    <div class="col-sm-10">
                                                        <input type="text" class="form-control" name="tag" id="tag"
                                                               placeholder="정확하게 기입해주세요">
                                                    </div>
                                                </div>
                                                <p>
                                                <h5 class="mt-0">감상평</h5>
                                                <textarea class="form-control" style="resize: none" name='content'
                                                          id="my-content"></textarea>
                                                <p>
                                            </div>
                                            <button type="submit" class="btn btn-primary" style="float:right;">수정하기
                                            </button>
                                            {# 글을 적는 공간(form) 안에 button type="submit" >>  그 안에 있는 내용을 서버로 보내주는 역할 #}
                                        </form>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}