@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100&display=swap');
html{
    background-color: black;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Noto Sans KR', sans-serif;
}

.margin_auto{
    margin: auto;
}
.display_flex{
    display: flex;
}
.visibility_hidden{
    visibility: hidden;
}
.hidden{
    display: none;
}
/*헤더*/

.headerwrap {
    position: absolute;
    top: 0;
    left: 0;
}

.header{
    position: fixed;
    z-index: 1;
    display: flex;
    color: white;
    margin: 0 1%;
    align-items: center;
    font-size: 20px;
    width: 99%;
    padding: 1%;
}

.nav{
    display: flex;
    margin-left : 10px;
    margin-top: -7px;
}
.nav_items{
    padding: 14px 16px;
    margin-left: 20px;
    cursor: pointer;
}
.menu{
    display: flex;
    margin-left: auto;
    margin-top: -10px;
}
.menu_items{
    margin-right: 20px;
    cursor: pointer;
}
.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 20px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  margin-left: 20px;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.logo img{
    height: 35px;
    width: 100px;
    cursor: pointer;
}

input#searchbar {
    height: 25px;
    outline: none;
    border: none;
    background-color: dimgrey;
    width: 250px;
    color: white;
    font-size: large;
    margin-right: 10px;
    padding: 0 5px 0 5px;
}


#dropmenu {
    position: absolute;
    font-size: 15px;
    background-color: gray;
    border: none;
    padding: 10px;
    right: 0px;
    width: 162px;
    text-align: center;
    z-index: 1;
    margin-top: 2%;
    cursor: pointer;
}


hr{border:none;}
.drop{display: none;}
.active {display: block;}

dialog::-webkit-scrollbar {
    width: 1rem;
    height: 1rem;
}
dialog::-webkit-scrollbar-thumb {
background-color: #00000045;
border-radius: 10px;
}
.header_hi{
    margin-right: 10%;
    width: 12vw;
}

/*블루*/


#ai_div{
    background-color: #ffffffde;
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    color: black;
    padding-top: 5%;
    font-size: 2rem;
    z-index: 1;
    font-weight: bold;
}
.ai_close_btn{
    position: fixed;
    right: 50px;
    bottom: 400px;
}
.infinity {
  width: 120px;
  height: 60px;
  position: relative;
}
.infinity div,
.infinity span {
  position: absolute;
}
.infinity div {
  top: 0;
  left: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: rotate 6.9s linear infinite;
          animation: rotate 6.9s linear infinite;
}
.infinity div span {
  left: -8px;
  top: 50%;
  margin: -8px 0 0 0;
  width: 16px;
  height: 16px;
  display: block;
  background: #8C6FF0;
  box-shadow: 2px 2px 8px rgba(140, 111, 240, 0.09);
  border-radius: 50%;
  transform: rotate(90deg);
  -webkit-animation: move 6.9s linear infinite;
          animation: move 6.9s linear infinite;
}
.infinity div span:before, .infinity div span:after {
  content: "";
  position: absolute;
  display: block;
  border-radius: 50%;
  width: 14px;
  height: 14px;
  background: inherit;
  top: 50%;
  left: 50%;
  margin: -7px 0 0 -7px;
  box-shadow: inherit;
}
.infinity div span:before {
  -webkit-animation: drop1 0.8s linear infinite;
          animation: drop1 0.8s linear infinite;
}
.infinity div span:after {
  -webkit-animation: drop2 0.8s linear infinite 0.4s;
          animation: drop2 0.8s linear infinite 0.4s;
}
.infinity div:nth-child(2) {
  -webkit-animation-delay: -2.3s;
          animation-delay: -2.3s;
}
.infinity div:nth-child(2) span {
  -webkit-animation-delay: -2.3s;
          animation-delay: -2.3s;
}
.infinity div:nth-child(3) {
  -webkit-animation-delay: -4.6s;
          animation-delay: -4.6s;
}
.infinity div:nth-child(3) span {
  -webkit-animation-delay: -4.6s;
          animation-delay: -4.6s;
}

.infinityChrome {
  width: 128px;
  height: 60px;
}
.infinityChrome div {
  position: absolute;
  width: 16px;
  height: 16px;
  background: #8C6FF0;
  box-shadow: 2px 2px 8px rgba(140, 111, 240, 0.09);
  border-radius: 50%;
  -webkit-animation: moveSvg 6.9s linear infinite;
          animation: moveSvg 6.9s linear infinite;
  filter: url(#goo);
  transform: scaleX(-1);
  offset-path: path("M64.3636364,29.4064278 C77.8909091,43.5203348 84.4363636,56 98.5454545,56 C112.654545,56 124,44.4117395 124,30.0006975 C124,15.5896556 112.654545,3.85282763 98.5454545,4.00139508 C84.4363636,4.14996252 79.2,14.6982509 66.4,29.4064278 C53.4545455,42.4803627 43.5636364,56 29.4545455,56 C15.3454545,56 4,44.4117395 4,30.0006975 C4,15.5896556 15.3454545,4.00139508 29.4545455,4.00139508 C43.5636364,4.00139508 53.1636364,17.8181672 64.3636364,29.4064278 Z");
}
.infinityChrome div:before, .infinityChrome div:after {
  content: "";
  position: absolute;
  display: block;
  border-radius: 50%;
  width: 14px;
  height: 14px;
  background: inherit;
  top: 50%;
  left: 50%;
  margin: -7px 0 0 -7px;
  box-shadow: inherit;
}
.infinityChrome div:before {
  -webkit-animation: drop1 0.8s linear infinite;
          animation: drop1 0.8s linear infinite;
}
.infinityChrome div:after {
  -webkit-animation: drop2 0.8s linear infinite 0.4s;
          animation: drop2 0.8s linear infinite 0.4s;
}
.infinityChrome div:nth-child(2) {
  -webkit-animation-delay: -2.3s;
          animation-delay: -2.3s;
}
.infinityChrome div:nth-child(3) {
  -webkit-animation-delay: -4.6s;
          animation-delay: -4.6s;
}

@-webkit-keyframes moveSvg {
  0% {
    offset-distance: 0%;
  }
  25% {
    background: #5628EE;
  }
  75% {
    background: #23C4F8;
  }
  100% {
    offset-distance: 100%;
  }
}

@keyframes moveSvg {
  0% {
    offset-distance: 0%;
  }
  25% {
    background: #5628EE;
  }
  75% {
    background: #23C4F8;
  }
  100% {
    offset-distance: 100%;
  }
}
@-webkit-keyframes rotate {
  50% {
    transform: rotate(360deg);
    margin-left: 0;
  }
  50.0001%, 100% {
    margin-left: -60px;
  }
}
@keyframes rotate {
  50% {
    transform: rotate(360deg);
    margin-left: 0;
  }
  50.0001%, 100% {
    margin-left: -60px;
  }
}
@-webkit-keyframes move {
  0%, 50% {
    left: -8px;
  }
  25% {
    background: #5628EE;
  }
  75% {
    background: #23C4F8;
  }
  50.0001%, 100% {
    left: auto;
    right: -8px;
  }
}
@keyframes move {
  0%, 50% {
    left: -8px;
  }
  25% {
    background: #5628EE;
  }
  75% {
    background: #23C4F8;
  }
  50.0001%, 100% {
    left: auto;
    right: -8px;
  }
}
@-webkit-keyframes drop1 {
  100% {
    transform: translate(32px, 8px) scale(0);
  }
}
@keyframes drop1 {
  100% {
    transform: translate(32px, 8px) scale(0);
  }
}
@-webkit-keyframes drop2 {
  0% {
    transform: translate(0, 0) scale(0.9);
  }
  100% {
    transform: translate(32px, -8px) scale(0);
  }
}
@keyframes drop2 {
  0% {
    transform: translate(0, 0) scale(0.9);
  }
  100% {
    transform: translate(32px, -8px) scale(0);
  }
}
.infinity {
  display: none;
}

/*html {*/
/*  -webkit-font-smoothing: antialiased;*/
/*}*/

/** {*/
/*  box-sizing: border-box;*/
/*}*/
/**:before, *:after {*/
/*  box-sizing: border-box;*/
/*}*/

/*body {*/
/*  min-height: 100vh;*/
/*  font-family: Roboto, Arial;*/
/*  color: #ADAFB6;*/
/*  display: flex;*/
/*  justify-content: center;*/
/*  align-items: center;*/
/*  background: #fff;*/
/*}*/
body .dribbble {
  position: fixed;
  display: block;
  right: 20px;
  bottom: 20px;
}
body .dribbble img {
  display: block;
  height: 28px;
}