@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100&display=swap');
html{
    background-color: black;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Noto Sans KR', sans-serif;
}

.margin_auto{
    margin: auto;
}
/*헤더*/

.headerwrap {
    position: absolute;
    top: 0;
    left: 0;
}

.header{
    position: fixed;
    z-index: 1;
    display: flex;
    color: white;
    margin: 1% 1%;
    align-items: center;
    font-size: 20px;
    width: 99%;
}

.nav{
    display: flex;
    margin-left : 10px;
    margin-top: -7px;
}
.nav_items{
    padding: 14px 16px;
    margin-left: 20px;
    cursor: pointer;
}
.menu{
    display: flex;
    margin-left: auto;
    margin-top: -10px;
}
.menu_items{
    margin-right: 20px;
    cursor: pointer;
}
.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 20px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  margin-left: 20px;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.logo img{
    height: 35px;
    width: 100px;
    cursor: pointer;
}

input#searchbar {
    height: 25px;
    outline: none;
    border: none;
    background-color: dimgrey;
    width: 250px;
    color: white;
    font-size: large;
    margin-right: 10px;
    padding: 0 5px 0 5px;
}


#dropmenu {
    position: absolute;
    font-size: 15px;
    background-color: gray;
    border: none;
    padding: 10px;
    right: 0px;
    width: 162px;
    text-align: center;
    z-index: 1;
    margin-top: 11px;
    cursor: pointer;
}


hr{border:none;}
.drop{display: none;}
.active {display: block;}



/* 헤더 */






/*@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100&display=swap');*/

/**{*/
/*    margin: 0;*/
/*    padding: 0;*/
/*    box-sizing: border-box;*/
/*}*/

/*body{*/
/*    font-family: 'Noto Sans KR', sans-serif;*/
/*    background-color: black;*/
/*    color: white;*/
/*}*/



/*.title-center {*/
/*    text-align: center;*/
/*    margin-top: 50px;*/
/*}*/

/*.wrap {*/
/*    width: 400px;*/
/*    margin: 0 auto;*/
/*}*/

/*.form-area {*/
/*    margin-top: 25px;*/
/*}*/

/*.timeline-container {*/
/*    margin-top: 25px*/
/*}*/