
#main_wrap{
    opacity: 70%;
    margin: 5% 10% 0;
    padding: 0 10%;
}

#main_wrap img{
    width: 60vw;
    height: 30vw;
}

.slick-prev {
    left: 50px;
}
.slick-next {
    right: 50px;
}

/* 메인뉴스부분 */
.main_news{
    display: flex;
}
.main_news p {
    font-size: 50px;
    color: white;
}
div.main_title {
    /*position: absolute;*/
    /*right: 0;*/
    /*top: 25%;*/
    /*width: 570px;*/
}
/* 메인뉴스부분 */

/* 뉴스리스트부분 */
.category{
    color: white;
    margin: 20px 10px 20px 12%;
    font-size: 30px;
}
.news_line{
    color: white;
    display: flex;
    flex-direction: row;
    margin-left: 10px;
    margin-right: 10px;
    justify-content: space-between;
}
.news_coma{
    display: flex;
    flex-direction: column;
}
.news_coma img{
    width: 15vw;
    cursor: pointer;
}
.news_wrapper{
    display: flex;
    padding: 2%;
}

/* 뉴스리스트부분 */
#news_area{
    margin: 3% 5% 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.category_img{
    width: 20vw;
    height: 10vw;
}
.news_coma p{
    width: 15vw;
}
/* 뉴스디테일팝업 */
.news_detail{
    /*display: none;*/
    /*top: 0;*/
    /*left: 0;*/
    /*width: 100%;*/
    /*height: 100vh;*/
    /*background-color: rgb(0 0 0 / 70%);*/
    /*position: fixed;*/
    /*z-index: 500;*/
}

.modal_box{
    /*width: 30vw;*/
    /*height: 100vh;*/
    /*background-color: rgb(239 239 239 / 60%);*/
    /*width: 60vw;*/
    color: black;
    font-weight: bold;
    height: 100vh;
    background-color: rgb(239 239 239 / 90%);
    width: 60vw;
    left: calc((100vw - 60vw)/2);
    border: none;
}

.details{
    display: flex;
    flex-direction: column;
}
.details span{margin: 10px 10px 10px 10px;}
.details p{margin: 10px 10px 10px 10px;}
.details img{
    height: 600px;
}
.details_title{
    font-size: 25px;
    font-weight: bold;
}

.movie_recommend {
    margin: 30px 10px 10px 10px;
}

.recommend-title{
    font-size: 20px;
}

.reco_movies img {
    width: 18vw;
    margin: 2% 1% 2% 1%;
}

dialog button {
    position: absolute;
    top: 1rem;
    right: 2rem;
    background: transparent;
    border: none;
    color: #ffffff;
    font-size: 3rem;
    cursor: pointer;
    outline: none;
}



/* 뉴스디테일팝업 */
