body{
    font-family: 'Noto Sans KR', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url("https://assets.nflxext.com/ffe/siteui/vlv3/8f3e38a9-1c2c-4818-99b5-2d9bdff9ad1d/dd8cc819-8e2f-40ef-ab98-b10500bd9703/KR-ko-20220124-popsignuptwoweeks-perspective_alpha_website_medium.jpg");
    background-size: cover;
}
body::before{
    content:"";
    position: absolute; z-index: 1;
    top:0; right: 0; bottom: 0; left: 0;
    background-color: rgba(0,0,0,.5);
}
.login_wrap{
    position: relative;
    z-index: 2;
    max-width: 550px;
    height: 900px;
    padding: 5%;
    margin: auto;
    background-color: rgba(0,0,0,.75);
    top: 5vh;
}
.login_wrap p{
    font-size: 32px; color: white;
}
.login_form{
    width: 350px;
    margin-top: 5px;
}
.login_form input{
    height: 50px;
    width: 100%;
    border-radius: 3px;
    color: white;
    background: #333333;
    padding-left: 15px;
    padding-top: 15px;
    border: none;
    outline: none;
    box-sizing: border-box;
}
.input_wrap{
    margin-bottom: 20px;
    position: relative;
}
.input_wrap label{
    color: aliceblue;
    position: absolute;
    left: 15px;
    top: 10px;
    font-size: 18px;
    opacity: 40%;
}
.input_wrap input:focus + label,
.input_wrap input:valid + label{
    top: 0;
    font-size: 12px;
}
.input_wrap button{
    cursor: pointer;
}


.input_email{
    display: flex;
    align-items: center;
}
.input_email input{
    height: 50px;
    width: 100%;
    border-radius: 3px;
    color: white;
    background: #333333;
    padding-left: 15px;
    padding-top: 15px;
    border: none;
    outline: none;
    box-sizing: border-box;
}
.input_email div{
    color: white;
    width: 50px;
    position: absolute;
    right: 0%;
}
.input_email span{
    background-color: red;
    padding: 0 5px 0 5px;
    border-radius: 2px;
    cursor: pointer;
}
.input_email{
    margin-bottom: 20px;
    position: relative;
}
.input_email label{
    color: aliceblue;
    position: absolute;
    left: 15px;
    top: 10px;
    font-size: 18px;
    opacity: 40%;
}
.input_email input:focus + label,
.input_email input:valid + label{
    top: 0;
    font-size: 12px;
}
.login_form button{
    height: 50px;
    width: 100%;
    margin-top: 40px;
    background: #d30000;
    border: none;
    outline: none;
    color: white;
    font-size: 17px;
    border-radius: 3px;
}
.support{
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.rememberme{
    display: flex;
    align-items: center;
}
.support input{
    width: 15px;
    height: 15px;
    margin-right: 5px;
}
.signup span{ color: white; }
.signup {
    margin-top: 200px;
    display: flex;
    justify-content: flex-end;
}

/* 회원가입 */

#profile{
    width: 100%;
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.profilewrap {
    width: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.choicebtn label {
    color: white;
    cursor: pointer;
}
#profileimg{
    width: 100px;
    height: 100px;
    /*background-color: coral;*/
    margin-bottom: 10px;
    border-radius: 10%;
    background-image: url("/liflix/static/img/profile_default.jpg");
    background-size: 100%;
}
form#frofileform {
    display: flex;
    flex-direction: column;
    align-items: center;
}
input#selectFile {
    visibility: hidden;
}
.img{
    border-radius: 10%;
}
#verify span{
    color: white;
}
.login_form:nth-child(1){
    display: flex;
}
div#verify {
    width: 50px;
}

input[type="date"]::before {
  content: attr(placeholder);
  position: absolute;
  color: #999999;
}

input[type="date"] {
  color: transparent;
}

input[type="date"]:focus,
input[type="date"]:valid {
  color: #666666;
}

input[type="date"]:focus::before,
input[type="date"]:valid::before {
  content: "";
}

