{% extends 'base.html' %}

{% load static %}

{% block static %}
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
    <link rel="stylesheet" href="{% static '/css/main.css' %}">
{% endblock %}

{% block title %}
    Main
{% endblock %}

{% block content %}
    {% block js %}
        <script type="text/javascript" src="{% static '/js/main.js' %}"></script>
        <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
        <script>
            $('#main_wrap').slick({
                slidesToShow: 1,
                slidesToScroll: 1,
                infinite: true,
                autoplay: true,
                autoplaySpeed: 3000,
            });
        </script>
        <script>
            $('.news_wrapper').slick({
                slidesToShow: 4,
                slidesToScroll: 1,
                infinite: true,
                autoplay: true,
                autoplaySpeed: 4000,
            });
        </script>
    {% endblock %}
    <div id="main_wrap">
        {% for i in head_news %}
            <div id="main_news{{ i.id }}" class="main_news" onclick="main_open_modal({{ i.id }})">
                <img src="{{ i.img }}">
                <div class="main_title">
                    <p>{{ i.title }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
    {% for i in head_news %}
        <dialog id="main_news_detail{{ i.id }}" class="modal modal_box main_modal">
            <button onclick="main_close_modal({{ i.id }})">&times;</button>
            <div class="details">
                <img src="{{ i.img }}" alt="">
                <div class="modal_content">
                <p class="details_title">{{ i.title }}</p>
                    <p>{{ i.content }}</p></div>
            </div>
            <div class="movie_recommend">
                <p class="recommend-title">현실이 더 영화 같다면?</p>
                <br>
                <p>이 기사를 본 당신에게...</p>
                <p onclick="location.href = '/movie/{{ i.id }}'">
                    기사 내용과 비슷한 영화 더 보기</p>
            </div>
            <div class="reco_movies">
                {% for j in i.similar_movie %}
                    <div class="poster_wrapper">
                        <a href="movie/detail/{{ j.code }}">
                            <img class="movie_poster" src="{{ j.poster }}"><br>
                        </a>
                        {{ j.title }}<br>
                    </div>
                {% endfor %}
            </div>
        </dialog>
    {% endfor %}
    <div id="news_area">
        {% for a,b in news_list.items %}
            <p class="category">{{ a }}</p>
            <div class="news_wrapper">
                {% for c in b %}
                    <div class="news_line" onclick="open_modal({{ c.id }})">
                        <div class="news_coma" id="news_coma">
                            <img class="category_img" src="{{ c.img }}" alt="img">
                            <p>{{ c.title }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
            {% for c in b %}
                <dialog id="news_detail{{ c.id }}" class="modal modal_box cate_modal">

                    <button onclick="close_modal({{ c.id }})">&times;</button>

                    <div class="details">
                        <img src="{{ c.img }}" alt="">
                        <div class="modal_content">
                        <p class="details_title">{{ c.title }}</p>
                        <p>{{ c.content }}</p></div>
                    </div>
                    <div class="movie_recommend">
                        <p class="recommend-title">현실이 더 영화 같다면?</p>
                        <br>
                        <p>이 기사를 본 당신에게...</p>
                        <p onclick="location.href = '/movie/{{ c.id }}'">
                            기사 내용과 비슷한 영화 더 보기</p>
                    </div>
                     <div class="reco_movies">
                        {% for j in c.similar_movie %}
                            <div class="poster_wrapper">
                                <a href="movie/detail/{{ j.code }}">
                                    <img class="movie_poster" src="{{ j.poster }}"><br>
                                </a>
                                {{ j.title }}<br>
                            </div>
                        {% endfor %}
                     </div>
                </dialog>
            {% endfor %}
        {% endfor %}
    </div>
{% endblock %}