<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static '/css/base.css' %}">
    {% block static %} {% endblock %}
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="/static/img/titlelogo.png" rel="shortcut icon" type="image/x-icon">
    <title>{% block title %}{% endblock %} | liflix</title>
</head>

<body>
<div class="headerwrap">
    <div class="header">
        <div class="logo" onclick="window.location.reload()">
            <img src="/static/img/liflixlogo.png" alt="logo">
        </div>
        {% if user.is_authenticated %}
            <div class="nav">
                <div class="nav_items" onclick="location.href = '/'">홈</div>
                <div class="dropdown">
                    <button class="dropbtn">카테고리
                    </button>
                    <div class="dropdown-content">
                        <a href="/news/105">IT/과학</a>
                        <a href="/news/104">세계</a>
                        <a href="/news/102">사회</a>
                        <a href="/news/101">경제</a>
                        <a href="/news/103">생활/문화</a>
                        <a href="/news/100">정치</a>
                    </div>
                </div>
                <div class="nav_items" onclick="location.href = '/'">자유게시판</div>
            </div>
        {% endif %}
        <div class="menu">
{#            <div class="search">#}
{#                <input type="text" id="searchbar">#}
{#            </div>#}
{#            <div class="menu_items">검색</div>#}

            <div class="display_flex">
                {% if user.is_authenticated %}
                <div style="margin-right: 10px">
                    <img src="https://sparttabucket.s3.ap-northeast-2.amazonaws.com/{{user.user_img}}" width="30px" height="30px" >

                </div>
                <div class="header_hi">
                    {{ user.user_nick }}님 안녕하세요
                </div>
                <div class="menu_items" onclick="menudrop();">•••</div>
                <div id="dropmenu" class="drop">
                    <span OnClick="location.href='/update'">MyPage</span>
                    <hr>
                    <span OnClick="location.href='/logout'">Logout</span>
                    {% endif %}

                </div>
            </div>
        </div>

    </div>
</div>

{% block content %}
{% endblock %}
<script type="text/javascript" src="{% static '/js/base.js' %}"></script>
{% block js %}
{% endblock %}
</body>
</html>

