
{%  extends 'base.html' %}

{% load static %}

{% block static %}
    <link rel="stylesheet" href="{% static '/css/signin.css' %}">
{% endblock %}

{% block title %}
SignIn
{% endblock %}

{% block content %}

    <section class="login_wrap">
        <p>Sign In</p>
        <form class="login_form">
          <div class="input_wrap">
            <input type="text"  id="id" name="id" autocomplete="off" required>
            <label for="id" >E-mail</label>
          </div>
          <div class="input_wrap">
            <input type="password" name="pw" id="pw" autocomplete="off" required>
            <label for="pw" >Password</label>
          </div>
          <div class="input_wrap">
              <button type="submit" class="btn btn-primary">Sign In</button>
          </div>
          <div class="support form-check">
              <div class="rememberme">
                  <span><input type="checkbox" class="form-check-input" id="exampleCheck1"></span>
                  <span>Remember me</span>
              </div>
              <div class="help">
                  Need help?
              </div>
          </div>
          <div class="signup">
              <span>Sign Up</span>
          </div>

        </form>
    </section>

{% endblock %}
