
{%  extends 'base.html' %}
{% load static %}

{% block static %}
    <link rel="stylesheet" href="{% static '/css/signup.css' %}">
{% endblock %}

{% block title %}
SignUp
{% endblock %}

{% block content %}
    <section class="login_wrap">
        <p>Sign up</p>
        <div id="profile">
            <form method="post" enctype="multipart/form-data" id="frofileform">
                <div id="profileimg">

                </div>
                <div id="btn" class="choicebtn" for="selectFile">
                    <label for="selectFile">
                        프로필선택
                    </label>
                </div>
                <input type="file" id="selectFile" name="chooseFile" accept="image/*" onchange="loadFile(this)">
            </form>
        </div>
        <form class="login_form">
          <div class="input_email">
            <input type="text"  id="id" name="id" autocomplete="off" required>
            <label for="id" >
                E-mail
            </label>
          </div>
          <div class="input_wrap">
            <input type="password" name="pw" id="pw" autocomplete="off" required>
            <label for="pw" >Password</label>
          </div>
          <div class="input_wrap">
            <input type="password" name="pw" id="pw" autocomplete="off" required>
            <label for="pw" >Password</label>
          </div>
          <div class="input_wrap">
            <input type="text" name="birth" id="birth" autocomplete="off" required>
            <label for="birth" >YYYY/MM/DD</label>
          </div>
          <div class="input_wrap">
            <input type="text" name="nick" id="nick" autocomplete="off" required>
            <label for="nick" >Your Name</label>
          </div>
          <div class="input_wrap">
            <input type="text" name="textarea" id="textarea" autocomplete="off" required>
            <label for="textarea" >Introduction...</label>
          </div>

          <div class="input_wrap">
              <button type="submit" class="btn btn-primary">Sign Up</button>
          </div>

        </form>
    </section>

{% endblock %}
{% block js %}
<script  type="text/javascript" src="{% static '/js/signup.js' %}"></script>
{% endblock %}


